In [7]:
#Dependencies 
import pandas as pd
from pathlib import Path
 
import matplotlib.pyplot as plt
import numpy as np

from scipy.stats import linregress

In [12]:
#Read csv files and merge population and total death data frames
population_df = pd.read_csv('Base Data/Resources/under1_population_by_region_df.csv')
deaths_df = pd.read_csv('Base Data/Resources/totalbirths_sum_df.csv')

mergedpopulationdeath_df = pd.merge(population_df, deaths_df, on='Area', how= 'outer')
mergedpopulationdeath_df.head()

,Unnamed: 0_x,Area,Total population up to 1 years old,Unnamed: 0_y,Live births,Total deaths,Total_births
0,0,NORTH EAST,50344.0,3,25153.0,426.0,25579.0
1,1,NORTH WEST,155911.0,17,78127.0,1475.0,79602.0
2,2,YORKSHIRE AND THE HUMBER,113986.0,61,56377.0,1138.0,57515.0
3,3,EAST MIDLANDS,95956.0,86,47860.0,894.0,48754.0
4,4,WEST MIDLANDS,128197.0,126,63846.0,1532.0,65378.0

In [13]:
#Create new data frame with area, population and total death column with a new column for infant mortality
infant_mortality_df = pd.DataFrame()
infant_mortality_df['Region'] = mergedpopulationdeath_df['Area']
infant_mortality_df['Total population up to 1 years old'] = mergedpopulationdeath_df['Total population up to 1 years old']
infant_mortality_df['Total deaths'] = mergedpopulationdeath_df['Total deaths']
infant_mortality_df['Infant mortality rate'] = ""
infant_mortality_df

,Region,Total population up to 1 years old,Total deaths,Infant mortality rate
0,NORTH EAST,50344.0,426.0,
1,NORTH WEST,155911.0,1475.0,
2,YORKSHIRE AND THE HUMBER,113986.0,1138.0,
3,EAST MIDLANDS,95956.0,894.0,
4,WEST MIDLANDS,128197.0,1532.0,
5,EAST,133105.0,1056.0,
6,LONDON,210812.0,1904.0,
7,SOUTH EAST,188216.0,1505.0,
8,SOUTH WEST,104062.0,686.0,